## section 10. Exécution d'une commande avant la fin de l'installation
# gestion de cette commande
# inclus par preseed.php dans debian.php

# Post-integration 20200618
d-i preseed/late_command string in-target sh -c 'sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin yes/g" /etc/ssh/sshd_config'; \
in-target wget --no-proxy -P /root/ http://###_SE4FS_IP_###/os/clinux/rejoint_buster_se4_ipxe.sh; \
in-target chmod +x /root/rejoint_buster_se4_ipxe.sh; \
in-target /root/rejoint_buster_se4_ipxe.sh
