## section 8. Choix des paquets
# gestion de l'installation d'un serveur NextCloud
#
# inclus par preseed.php dans debian.php

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string openssh-server sambaedu-nextcloud
popularity-contest popularity-contest/participate boolean true
