### Fichier de réponses préconfigurées
### pour l'installation de Debian ###_VERSION_DEBIAN_### hors domaine

## section 1. Localisation

d-i debian-installer/locale string ###_LINUX_LOCALE_###
d-i keyboard-configuration/xkb-keymap select ###_LINUX_KEYBOARD_###

## section 2. Configuration du réseau avec le serveur DHCP du se4

d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 60
d-i netcfg/get_hostname string ###_HOSTNAME_###
d-i netcfg/get_domain string ###_DOMAIN_###
d-i hw-detect/load_firmware boolean true
d-i netcfg/target_network_config select ifupdown
d-i netcfg/hostname string ###_HOSTNAME_###
d-i netcfg/target_network_config nm_config

## section 3. Configuration du miroir

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian

## section 4. Configuration du fuseau horaire

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string ###_SE4AD_IP_###

## section 5. Partitionnement du disque dur
## rajouté via le preseed.php avec 2 cas : simple ou double boot
## voir simple_boot.cfg et double_boot.cfg

## section 6. Configuration du compte root et d'un utilisateur

d-i passwd/root-login boolean false

d-i passwd/user-fullname string ###_KIOSK_USER_###
d-i passwd/username string ###_KIOSK_USER_###

# mdp user en clair
d-i passwd/user-password password ###_KIOSK_USER_PASSWD_###
d-i passwd/user-password-again password ###_KIOSK_USER_PASSWD_###
d-i user-setup/allow-password-weak boolean true

## section 7. Configuration d'Apt

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
#d-i apt-setup/backports boolean true

## sources sambaedu ###_DEPOT_TYPE_###

d-i apt-setup/local0/repository string http://deb.sambaedu.org/debian ###_VERSION_DEBIAN_### ###_DEPOT_TYPE_###
d-i apt-setup/local0/key string http://deb.sambaedu.org/debian/sambaedu.gpg.key

## sources multimedia

#d-i apt-setup/local1/repository string http://www.deb-multimedia.org ###_VERSION_DEBIAN_### main non-free
#d-i apt-setup/local1/key string http://deb.sambaedu.org/debian/sambaedu.gpg.key


## section 8. Choix des paquets


tasksel tasksel/first multiselect standard, desktop, gnome-desktop, print-server, ssh-server
d-i pkgsel/include string openssh-server mc vim vlc unclutter gnome-kiosk gnome-kiosk-script-session sambaedu-linux-stations-kiosk
popularity-contest popularity-contest/participate boolean true

# Whether to upgrade packages after debootstrap.
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select full-upgrade

# Language pack selection
d-i pkgsel/install-language-support boolean true
d-i pkgsel/language-packs multiselect fr, en

# Policy for applying updates. May be "none" (no automatic updates),
# "unattended-upgrades" (install security updates automatically), or
# "landscape" (manage system with Landscape).
d-i pkgsel/update-policy select unattended-upgrades

# By default, the system's locate database will be updated after the
# installer has finished installing most packages. This may take a while, so
# if you don't want it, you can set this to "false" to turn it off.
# d-i pkgsel/updatedb boolean false



## section 9. Installation du programme d'amorçage GRUB

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

#d-i grub-installer/bootdev string /dev/sda
#d-i partman-auto/disk string /dev/sda default
#d-i partman-auto/init_automatically_partition
#d-i grub-installer/bootdev string default
#d-i partman-auto/disk string default

USBDEV=$(mount | grep hd-media | cut -d" " -f1 | sed "s/\(.*\)./\1/");\
BOOTDEV=$(list-devices disk | grep -v \$USBDEV | head -1);\
debconf-set partman-auto/disk \$BOOTDEV;\
debconf-set grub-installer/bootdev \$BOOTDEV;

d-i grub-installer/bootdev string default


## section 10. Exécution d'une commande avant la fin de l'installation
## rajouté via le preseed.php dans le cas d'une commande
## voir commande_fin.cfg ou commande_fin_clinux.cfg

# déplacé dans commande_fin.cfg

## section 11. Fin de l'installation

d-i finish-install/reboot_in_progress note
