## installation de sambaedu pour les clients linux
d-i apt-setup/multiarch string i386
#krb5-config	krb5-config/add_servers	boolean	false
krb5-config	krb5-config/default_realm string ###_DOMAIN_###
krb5-config	krb5-config/admin_server string ###_SE4AD_IP_###
krb5-config	krb5-config/kerberos_servers string ###_SE4AD_IP_###
krb5-config	krb5-config/add_servers_realm string ###_DOMAIN_###
#krb5-config	krb5-config/read_conf boolean false
samba-common samba-common/dhcp boolean	false
samba-common samba-common/do_debconf boolean false
samba-common samba-common/workgroup	string ###_DOMAIN_###
sambaedu-ad-dc sambaedu/ldap_port string ###_LDAP_PORT_###
sambaedu-ad-dc sambaedu/ldap_admin_passwd password ###_LDAP_ADMIN_PASSWD_###
sambaedu-ad-dc sambaedu/se4ad_ip string ###_SE4AD_IP_###
sambaedu-ad-dc sambaedu/ldap_admin_name string	###_LDAP_ADMIN_NAME_###
sambaedu-ad-dc sambaedu/domain string ###_DOMAIN_###
sambaedu-ad-dc sambaedu/computers_rdn string ###_COMPUTERS_RDN_###
sambaedu-ad-dc sambaedu/test_ad	error	
sambaedu-ad-dc sambaedu/samba_domain string	###_SAMBA_DOMAIN_###
sambaedu-ad-dc sambaedu/action_ad select Installer client
sambaedu-ad-dc sambaedu/se4ad_name string ###_SE4AD_NAME_###
sambaedu-ad-dc sambaedu/se4fs_name string ###_SE4FS_NAME_###
sambaedu-ad-dc sambaedu/ssh_error error
sambaedu-ad-dc sambaedu/ldap_base_dn string ###_LDAP_BASE_DN_###
sambaedu-ad-dc sambaedu/samba_domain_cut error Attention, le nom a été tronqué car trop long !
sambaedu-ad-dc sambaedu/admin_rdn string ###_ADMIN_RDN_###
sambaedu-ad-dc sambaedu/admin_passwd password ###_ADMINSE_PASSWD_###
sambaedu-ad-dc sambaedu/admin_passwd_again password ###_ADMINSE_PASSWD_###
sambaedu-proxy-config sambaedu/proxy_type select ###_PROXY_TYPE_###
sambaedu-proxy-config sambaedu/proxy_address string ###_PROXY_ADDRESS_###
sambaedu-proxy-config sambaedu/proxy_port string ###_PROXY_PORT_###
sambaedu-proxy-config sambaedu/proxy_url string ###_PROXY_URL_###
sambaedu-ad-dc sambaedu/se4_pub_key string ###_SE4_PUB_KEY_###
sambaedu-linux-stations-common sambaedu/token string ###_TOKEN_###
libpam-runtime libpam-runtime/override boolean false
