## installation de sambaedu fs

# on demande l'uai, le nom de l'établissement et l'ip fixe lors de l'installation

## section 1. Localisation

d-i debian-installer/locale string fr_FR
d-i keyboard-configuration/xkb-keymap select fr(latin9)

## section 2. Configuration du réseau en statique

d-i netcfg/disable_autoconfig boolean true
d-i netcfg/choose_interface select ###_LINUX_INTERFACE_###
d-i netcfg/get_hostname string ###_HOSTNAME_###
d-i netcfg/get_domain string ###_DOMAIN_###
d-i hw-detect/load_firmware boolean true
#d-i netcfg/target_network_config select ifupdown
d-i netcfg/hostname string ###_HOSTNAME_###
d-i netcfg/get_ipaddress string ###_SE4FS_ETAB_IP_###
d-i netcfg/get_netmask string ###_MASK_###
d-i netcfg/get_gateway string ###_GATEWAY_###
d-i netcfg/get_nameservers string ###_SE4AD_IP_###
d-i netcfg/confirm_static boolean true

## section 3. Configuration du miroir

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
#d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian

d-i mirror/suite string ###_VERSION_DEBIAN_###

## section 4. Configuration du fuseau horaire

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string ###_SE4AD_IP_###

## section 5. Partitionnement du disque dur

# recettes de partitionnement pour simple boot

# choix prioritaire des disques nvme

#d-i partman-auto/method string regular
#d-i partman-auto/choose_recipe select atomic
#d-i partman/default_filesystem string ext4
#d-i partman-partitioning/confirm_write_new_label boolean true
#d-i partman/choose_partition select finish
#d-i partman/confirm boolean true
#d-i partman/confirm_nooverwrite boolean true

#d-i partman-auto/expert_recipe_file string /hd-media/recipe

# If not, you can put an entire recipe into the preconfiguration file in one
# (logical) line. This example creates a small /boot partition, suitable
# swap, and uses the rest of the space for the root partition:
#d-i partman-auto/disk string /dev/sda /dev/sdb /dev/sdc
#d-i partman-auto/expert_recipe string                         \
#      boot-root ::                                            \
#              40 50 100 ext4                                  \
#                      $primary{ } $bootable{ }                \
#                      method{ format } format{ }              \
#                      use_filesystem{ } filesystem{ ext3 }    \
#                      mountpoint{ /boot }                     \
#                       device{ /dev/sda }                     \
#              .                                               \
#              500 10000 1000000000 ext3                       \
#                      method{ format } format{ }              \
#                      use_filesystem{ } filesystem{ ext3 }    \
#                      mountpoint{ / }                         \
#              .                                               \
#              64 512 300% linux-swap                          \
#                      method{ swap } format{ }                \
#              .

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
#d-i partman-partitioning/confirm_write_new_label boolean true
#d-i partman/choose_partition select finish
#d-i partman/confirm boolean true



## section 6. Configuration du compte root et d'un utilisateur

d-i passwd/root-login boolean true
# mdp root en clair
d-i passwd/root-password password ###_ADMIN_PASSWD_###
d-i passwd/root-password-again password ###_ADMIN_PASSWD_###

d-i passwd/user-fullname string ###_LINUX_USER_###
d-i passwd/username string ###_LINUX_USER_###

# mdp user en clair
d-i passwd/user-password password ###_LINUX_USER_PASSWD_###
d-i passwd/user-password-again password ###_LINUX_USER_PASSWD_###

## section 7. Configuration d'Apt

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string security.debian.org

## sources sambaedu ###_DEPOT_TYPE_###

d-i apt-setup/local0/repository string http://deb.sambaedu.org/debian ###_VERSION_DEBIAN_### ###_DEPOT_TYPE_###
d-i apt-setup/local0/key string http://deb.sambaedu.org/debian/sambaedu.gpg.key

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string openssh-server mc vim sambaedu-web-common sambaedu-ipxe sambaedu-client-windows



## section 9. Installation du programme d'amorçage GRUB

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true


d-i grub-installer/bootdev string default
d-i finish-install/reboot_in_progress note




#krb5-config	krb5-config/add_servers	boolean	false
krb5-config	krb5-config/default_realm string ###_DOMAIN_###
krb5-config	krb5-config/admin_server string ###_SE4AD_IP_###
krb5-config	krb5-config/kerberos_servers string ###_SE4AD_IP_###
krb5-config	krb5-config/add_servers_realm string ###_DOMAIN_###
#krb5-config	krb5-config/read_conf boolean false
samba-common samba-common/dhcp boolean	false
samba-common samba-common/do_debconf boolean false
samba-common samba-common/workgroup	string ###_DOMAIN_###
sambaedu-ad-dc sambaedu/se4fs_name string ###_HOSTNAME_###
sambaedu-ad-dc sambaedu/ldap_port string ###_LDAP_PORT_###
sambaedu-ad-dc sambaedu/ldap_admin_passwd password ###_LDAP_ADMIN_PASSWD_###
sambaedu-ad-dc sambaedu/se4ad_ip string ###_SE4AD_IP_###
sambaedu-ad-dc sambaedu/ldap_admin_name string	###_LDAP_ADMIN_NAME_###
sambaedu-ad-dc sambaedu/domain string ###_DOMAIN_###
sambaedu-ad-dc sambaedu/etab_ou string ###_ETAB_OU_###
sambaedu-ad-dc sambaedu/test_ad	error	
sambaedu-ad-dc sambaedu/samba_domain string	###_SAMBA_DOMAIN_###
sambaedu-ad-dc sambaedu/action_ad select ###_ACTION_AD_###
sambaedu-ad-dc sambaedu/se4ad_name string ###_SE4AD_NAME_###
sambaedu-ad-dc sambaedu/ssh_error error
sambaedu-ad-dc sambaedu/ldap_base_dn string ###_LDAP_BASE_DN_###
sambaedu-ad-dc sambaedu/samba_domain_cut error Attention, le nom a été tronqué car trop long !
sambaedu-ad-dc sambaedu/admin_rdn string ###_ADMIN_RDN_###
sambaedu-ad-dc sambaedu/admin_passwd password ###_ADMIN_PASSWD_###
sambaedu-ad-dc sambaedu/admin_passwd_again password ###_ADMIN_PASSWD_###
sambaedu-ad-dc sambaedu/se4_pub_key string ###_SE4_PUB_KEY_###
sambaedu-ad-dc sambaedu/se4_priv_key string ###_SE4_PRIV_KEY_###
sambaedu-proxy-config sambaedu/proxy_type select ###_PROXY_TYPE_###
sambaedu-proxy-config sambaedu/proxy_address string ###_PROXY_ADDRESS_###
sambaedu-proxy-config sambaedu/proxy_port string ###_PROXY_PORT_###
sambaedu-proxy-config sambaedu/proxy_url string ###_PROXY_URL_###
libpam-runtime libpam-runtime/override boolean false
sambaedu-ad-dc sambaedu/rsync_secret string ###_RSYNC_SECRET_###