## section 5. Partitionnement du disque dur
# recettes de partitionnement pour simple boot
# inclus par preseed.php dans debian.cfg

# choix prioritaire des disques nvme

#d-i partman/early_command string p=$(dmesg|grep "nvme[0-9]n[1-9]:"|sed "s/^.*\(nvme.*\):.*$/\/dev\/\1/");\
#[ -z "$p" ] && p=$(dmesg|grep -E "\[sd[a-z]\] [0-9]+"| head -n1 |sed "s/^.*\(sd[a-z]\).*$/\/dev\/\1/");\
#debconf-set partman-auto/disk string "$p";
#debconf-set grub-installer/bootdev string "$p";

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
