## section 3. Configuration du miroir
# si un cache apt est présent
#
# inclus par preseed.php dans debian.php

d-i mirror/http/proxy string ###_APT_PROXY_###
d-i mirror/https/proxy string ###_APT_PROXY_###
sambaedu-proxy-config sambaedu/apt_proxy string ###_APT_PROXY_###

