## section 8. Choix des paquets
# gestion de l'environnement lxde
#
# inclus par preseed.php dans debian.php

tasksel tasksel/first multiselect standard, desktop, lxde-desktop, print-server, ssh-server

d-i pkgsel/include string openssh-server mc vim sambaedu-winbind sambaedu-linux-stations-common sambaedu-linux-stations-lxde
sambaedu-ad-dc sambaedu/admin_passwd password ###_ADMINSE_PASSWD_###
sambaedu-ad-dc sambaedu/admin_passwd_again password ###_ADMINSE_PASSWD_###


d-i pkgsel/update-policy select none

popularity-contest popularity-contest/participate boolean true
