[Unit]
Description=Laravel Queue Worker (General) for SE4FS
After=network.target mysql.service mariadb.service postgresql.service

[Service]
User=www-admin
Group=www-admin
Restart=always
RestartSec=3
TimeoutStopSec=620
WorkingDirectory=/var/www/sambaedu-reload
ExecStart=__PHP_BIN__ artisan queue:work database --queue=default,high,low --sleep=3 --tries=3 --max-time=3600

[Install]
WantedBy=multi-user.target
