{
  "nouns": [
    "chat",
    "chien",
    "lapin",
    "renard",
    "souris",
    "pizza",
    "cafe",
    "gateau",
    "image",
    "source",
    "chaine",
    "eponge",
    "pied",
    "coeur",
    "carreau",
    "trefle",
    "pique",
    "valet",
    "fonction",
    "hasard"
  ],
  "adjectives": [
    "bleu",
    "blanc",
    "rouge",
    "jaune",
    "vert",
    "joyeux",
    "rapide",
    "lent",
    "grand",
    "petit",
    "doux",
    "fort",
    "sage",
    "vif",
    "calme",
    "brave",
    "gentil",
    "malin",
    "fier",
    "noble"
  ],
}
